 .u-section-1 {
  min-height: 777px;
}

.u-section-1 .u-image-1 {
  height: 536px;
  width: 1140px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 46px auto 0;
}

.u-section-1 .u-text-1 {
  margin: -352px 801px 0 calc(((100% - 1140px) / 2)  + 48px);
}

.u-section-1 .u-text-2 {
  margin: 4px calc(((100% - 1140px) / 2)  + 652px) 0 calc(((100% - 1140px) / 2)  + 48px);
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: -286px 666px 0 calc(((100% - 1140px) / 2)  + 48px);
}

.u-section-1 .u-gallery-1 {
  height: 214px;
  width: 1069px;
  grid-gap: 17px;
  margin: 414px calc(((100% - 1140px) / 2)  + 23px) -65px auto;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-1 .u-gallery-item-1 {
  margin-right: 17px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-2 {
  margin-right: 17px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-3 {
  margin-right: 17px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-4 {
  margin-right: 17px;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 683px;
  }

  .u-section-1 .u-image-1 {
    height: 442px;
    width: 940px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -268px;
    margin-right: 681px;
    margin-left: calc(((100% - 940px) / 2)  + 25px);
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 8px;
    margin-right: calc(((100% - 940px) / 2)  + 575px);
    margin-left: calc(((100% - 940px) / 2)  + 25px);
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -378px;
    margin-right: 489px;
    margin-left: calc(((100% - 940px) / 2)  + 25px);
  }

  .u-section-1 .u-gallery-1 {
    width: 940px;
    margin-top: 423px;
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 580px;
  }

  .u-section-1 .u-image-1 {
    height: 495px;
    width: 720px;
    margin-top: 45px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -369px;
    margin-right: 474px;
    margin-left: calc(((100% - 720px) / 2)  + 12px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2)  + 382px);
    margin-left: calc(((100% - 720px) / 2)  + 12px);
  }

  .u-section-1 .u-text-3 {
    margin-top: -363px;
    margin-right: 374px;
    margin-left: calc(((100% - 720px) / 2)  + 12px);
  }

  .u-section-1 .u-gallery-1 {
    width: 720px;
    margin-top: 458px;
    margin-right: calc(((100% - 720px) / 2));
    margin-bottom: -64px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 495px;
  }

  .u-section-1 .u-image-1 {
    height: 471px;
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -386px;
    margin-right: 380px;
    margin-left: calc(((100% - 540px) / 2)  + 12px);
  }

  .u-section-1 .u-text-2 {
    margin-top: -1px;
    margin-right: calc(((100% - 540px) / 2)  + 282px);
    margin-left: calc(((100% - 540px) / 2)  + 12px);
  }

  .u-section-1 .u-text-3 {
    margin-top: -322px;
    margin-right: 281px;
    margin-left: calc(((100% - 540px) / 2)  + 12px);
  }

  .u-section-1 .u-gallery-1 {
    width: 540px;
    margin-top: 415px;
    margin-right: calc(((100% - 540px) / 2));
    margin-bottom: -63px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 401px;
  }

  .u-section-1 .u-image-1 {
    height: 450px;
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -391px;
    margin-right: 239px;
    margin-left: calc(((100% - 340px) / 2)  + 12px);
  }

  .u-section-1 .u-text-2 {
    margin-top: 13px;
    margin-right: calc(((100% - 340px) / 2)  + 182px);
    margin-left: calc(((100% - 340px) / 2)  + 12px);
  }

  .u-section-1 .u-text-3 {
    margin-top: -438px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-gallery-1 {
    width: 340px;
    margin-top: 417px;
    margin-right: calc(((100% - 340px) / 2));
    margin-bottom: -35px;
  }
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before,
.u-section-1 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}.u-section-2 .u-sheet-1 {
  min-height: 751px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 75px auto 0;
}

.u-section-2 .u-text-2 {
  width: 706px;
  margin: 21px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 7px auto 0;
}

.u-section-2 .u-text-4 {
  margin: 38px 206px 60px 228px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-4 {
    margin-right: 106px;
    margin-left: 128px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 25px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 14px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 19px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 26px;
    margin-left: 0;
  }
} .u-section-3 {
  background-image: none;
  min-height: 628px;
}

.u-section-3 .u-image-1 {
  height: 411px;
  margin-top: 1px;
  margin-bottom: 0;
  animation-timing-function: ease-in;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  width: 358px;
  margin: -138px auto 0;
}

.u-section-3 .u-list-1 {
  width: 1140px;
  margin: 38px auto 26px;
}

.u-section-3 .u-repeater-1 {
  min-height: 177px;
  grid-auto-columns: 33.3333%;
  grid-template-columns: repeat(3, 33.3333%);
  grid-gap: 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 166px 0 119px;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 28px 35px 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 166px 0 119px;
}

.u-section-3 .u-text-5 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 28px 35px 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 166px 0 119px;
}

.u-section-3 .u-text-7 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 28px 35px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    margin-top: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: -137px;
  }

  .u-section-3 .u-list-1 {
    width: calc(((100% - 940px) / 2)  + 940px);
  }

  .u-section-3 .u-repeater-1 {
    min-height: 146px;
    grid-auto-columns: 33.333333333333336%;
    grid-template-columns: repeat(3, 33.333333333333336%);
  }

  .u-section-3 .u-text-2 {
    margin-right: 66px;
    margin-left: 19px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-top: -132px;
  }

  .u-section-3 .u-list-1 {
    width: calc(((100% - 720px) / 2)  + 720px);
  }

  .u-section-3 .u-repeater-1 {
    min-height: 335px;
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 856px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 16px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -134px;
  }

  .u-section-3 .u-list-1 {
    width: 590px;
    margin-top: 55px;
    margin-bottom: 9px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 420px;
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 910px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -19px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
    margin-top: -147px;
  }

  .u-section-3 .u-list-1 {
    width: 390px;
    margin-top: 81px;
    margin-bottom: -7px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 525px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 1px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 6px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 1px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 6px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 1px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 579px;
}

.u-section-4 .u-slider-1 {
  min-height: 480px;
  width: 763px;
  margin: 50px auto;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-4 .u-image-1 {
  width: 161px;
  height: 161px;
  background-image: url("images/pardon-mwansa-web.jpg");
  background-position: 38.4% 50%;
  margin: 0 auto 0 213px;
}

.u-section-4 .u-text-1 {
  font-size: 1.25rem;
  margin: 10px 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 29px auto 0 189px;
}

.u-section-4 .u-text-3 {
  font-size: 1rem;
  font-weight: 400;
  margin: 21px auto 0 266px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-4 .u-image-2 {
  width: 166px;
  height: 166px;
  background-image: url("images/431071172_787700233378312_4116506798064132871_n.jpg");
  background-position: 50% 0%;
  margin: 0 215px 0 auto;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  margin: 26px 0 0;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-4 .u-text-6 {
  font-size: 1rem;
  font-weight: 400;
  margin: 15px auto 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-4 .u-image-3 {
  width: 164px;
  height: 164px;
  background-image: url("images/lisa.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-7 {
  font-size: 1.25rem;
  margin: 15px 0 0;
}

.u-section-4 .u-text-8 {
  font-weight: 700;
  margin: 41px auto 0;
}

.u-section-4 .u-text-9 {
  font-size: 1rem;
  font-weight: 400;
  margin: 28px auto 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-4 .u-image-4 {
  width: 164px;
  height: 164px;
  background-image: url("images/alumnus.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-10 {
  font-size: 1.25rem;
  margin: 15px 0 0;
}

.u-section-4 .u-text-11 {
  font-weight: 700;
  margin: 42px auto 0 239px;
}

.u-section-4 .u-text-12 {
  font-size: 1rem;
  font-weight: 400;
  margin: 11px auto 0 240px;
}

.u-section-4 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: 0;
  right: auto;
  position: absolute;
}

.u-section-4 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-slider-1 {
    height: auto;
  }

  .u-section-4 .u-text-3 {
    margin-left: 212px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-slider-1 {
    width: 720px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-11 {
    margin-left: 188px;
  }

  .u-section-4 .u-text-12 {
    margin-left: 189px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-4 .u-slider-1 {
    min-height: 533px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-image-1 {
    margin-right: 110px;
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 30px;
    margin-left: 87px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 20px;
    margin-left: 175px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-image-2 {
    margin-right: 116px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 25px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 11px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    margin-right: 171px;
  }

  .u-section-4 .u-text-11 {
    width: auto;
    margin-top: 32px;
    margin-right: 170px;
    margin-left: auto;
  }

  .u-section-4 .u-text-12 {
    width: auto;
    margin-top: 15px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 649px;
  }

  .u-section-4 .u-slider-1 {
    min-height: 559px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    margin-right: auto;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-4 .u-text-2 {
    margin-left: auto;
  }

  .u-section-4 .u-text-3 {
    margin-left: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    margin-right: auto;
    margin-left: 73px;
  }

  .u-section-4 .u-image-4 {
    margin-right: auto;
    margin-left: 61px;
  }

  .u-section-4 .u-text-11 {
    margin-right: auto;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 887px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 59px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 738px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-5 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
  font-size: 1.875rem;
}

.u-section-5 .u-group-1 {
  min-height: 112px;
  margin-top: 30px;
  margin-bottom: 0;
  --radius: 30px;
  height: auto;
  width: 500px;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 25px;
}

.u-section-5 .u-icon-1 {
  width: 48px;
  height: 48px;
  margin: 30px auto 0 0;
  padding: 0;
}

.u-section-5 .u-text-2 {
  margin: -36px 4px 12px 60px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 30px auto 0 0;
}

.u-section-5 .u-form-1 {
  height: 419px;
  width: 496px;
  margin: 1px 12px 0 2px;
}

.u-section-5 .u-input-1 {
  --radius: 37px;
}

.u-section-5 .u-input-2 {
  --radius: 37px;
}

.u-section-5 .u-input-3 {
  --radius: 37px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 738px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
  font-size: 1.875rem;
}

.u-section-5 .u-map-1 {
  height: 415px;
  margin-top: 30px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 792px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 609px;
  }

  .u-section-5 .u-group-1 {
    width: 410px;
    height: auto;
  }

  .u-section-5 .u-text-2 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-form-1 {
    width: 410px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 609px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-group-1 {
    width: 300px;
  }

  .u-section-5 .u-form-1 {
    width: 300px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 758px;
  }

  .u-section-5 .u-map-1 {
    height: 624px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-group-1 {
    min-height: 170px;
    width: 518px;
    margin-right: 2px;
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1600px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 60px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 737px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-group-1 {
    width: 320px;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 743px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.5rem;
  }
}